<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>ai.mollendorff.daneel-qdrant</string>
	<key>ProgramArguments</key>
	<array>
		<string>${DANEEL_HOME}/bin/qdrant</string>
		<string>--config-path</string>
		<string>${DANEEL_HOME}/etc/qdrant.yaml</string>
	</array>
	<key>SoftResourceLimits</key>
	<dict>
		<key>NumberOfFiles</key>
		<integer>65536</integer>
	</dict>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>StandardOutPath</key>
	<string>${DANEEL_HOME}/log/qdrant.log</string>
	<key>StandardErrorPath</key>
	<string>${DANEEL_HOME}/log/qdrant.log</string>
	<key>WorkingDirectory</key>
	<string>${DANEEL_HOME}</string>
</dict>
</plist>
